body[color-theme="default"] {
    --secondary-color: #ffc629;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #ffc629;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="water-blue"] {
    --secondary-color: #1e64ce;
    --secondary-color-contrast: #ffffff;
    --primary-color: #1e64ce;
    --primary-color-shade: #1f6ee7;
    --primary-color-tint: #2081e7;
    --primary-color-contrast: #ffffff;
    --highlight-color: #ffffff;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="sunglow"] {
    --secondary-color: #ffc629;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #ffc629;
    --tabIcon-filter: invert(0);
  }
  
  /* body[color-theme=raspberry-pink] {
      --secondary-color: #db469a;
      --secondary-color-contrast: #ffffff;
      --primary-color: #000000;
      --primary-color-shade: #141414;
      --primary-color-tint: #222222;
      --primary-color-contrast: #ffffff;
      --highlight-color: #db469a;
      --tabIcon-filter: invert(0)
  } */
  
  body[color-theme="bright-gold"] {
    --secondary-color: #ffcb00;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #ffcb00;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="saffron"] {
    --secondary-color: #ff671f;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #ff671f;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="firebush"] {
    --secondary-color: #ff8e2a;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #ff8e2a;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="darkorange"] {
    --secondary-color: #f78a02;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #f78a02;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="brightorange"] {
    --secondary-color: #ff6600;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #ff6600;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="rubyred"] {
    --secondary-color: #e82127;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #e82127;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="ferrarired"] {
    --secondary-color: #ff2800;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #ff2800;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="brickred"] {
    --secondary-color: #c32034;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #c32034;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="dustyred"] {
    --secondary-color: #c14646;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #c14646;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="lavared"] {
    --secondary-color: #d72c0a;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #d72c0a;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="orangyred"] {
    --secondary-color: #b01d0b;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #b01d0b;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="supernova"] {
    --secondary-color: #fdcf13;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #fdcf13;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="orangeyellow"] {
    --secondary-color: #feba0d;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #feba0d;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="amberyellow"] {
    --secondary-color: #ffb80c;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #ffb80c;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="sunshade"] {
    --secondary-color: #ff9934;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #ff9934;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="deepsaffron"] {
    --secondary-color: #f79333;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #f79333;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="cadmiumorange"] {
    --secondary-color: #ea9624;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #ea9624;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="fadedorange"] {
    --secondary-color: #f88651;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #f88651;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="granolagold"] {
    --secondary-color: #ba9445;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #ba9445;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="eucalyptusgreen"] {
    --secondary-color: #159365;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #159365;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="venomgreen"] {
    --secondary-color: #659910;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #659910;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="peagreen"] {
    --secondary-color: #a6ce39;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #a6ce39;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="vibrantgreen"] {
    --secondary-color: #00bc00;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #00bc00;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="pinegreen"] {
    --secondary-color: #14795a;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #14795a;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="fountainblue"] {
    --secondary-color: #5dade2;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #5dade2;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="crystalblue"] {
    --secondary-color: #3bc6f3;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #3bc6f3;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="darkcyan"] {
    --secondary-color: #149897;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #149897;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="frenchblue"] {
    --secondary-color: #0075db;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #0075db;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="silkblue"] {
    --secondary-color: #3f77d9;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #3f77d9;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="veniceblue"] {
    --secondary-color: #005b96;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #005b96;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="midnightblue"] {
    --secondary-color: #0285c8;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #0285c8;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="mineralgreen"] {
    --secondary-color: #3d5566;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #3d5566;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="warmpurple"] {
    --secondary-color: #7e1fac;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #7e1fac;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="cobaltblue"] {
    --secondary-color: #1a3da6;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #1a3da6;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="pacificblue"] {
    --secondary-color: #04a1a6;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #04a1a6;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="fuelyellow"] {
    --secondary-color: #f6ae2d;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #f6ae2d;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="brightyellow"] {
    --secondary-color: #f3e819;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #f3e819;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="osgbook"] {
    --secondary-color: #1a3da6;
    --secondary-color-contrast: #ffffff;
    --primary-color: #1a3da6;
    --primary-color-shade: #0f2462;
    --primary-color-tint: #0f2462;
    --primary-color-contrast: #ffffff;
    --highlight-color: #1a3da6;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="tuliporange"] {
    --secondary-color: #f6a237;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #f6a237;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="winered"] {
    --secondary-color: #a00000;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #a00000;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="cranberry"] {
    --secondary-color: #d84396;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #d84396;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="marine"] {
    --secondary-color: #0b2972;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #0b2972;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="candlelight"] {
    --secondary-color: #ffe001;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #ffe001;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="beeyellow"] {
    --secondary-color: #ebb023;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #ebb023;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="orangepeel"] {
    --secondary-color: #ffa800;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #ffa800;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="azureblue"] {
    --secondary-color: #007acc;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #007acc;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="chromeorange"] {
    --secondary-color: #ff9600;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #ff9600;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="vibrantyellow"] {
    --secondary-color: #f8ff13;
    --secondary-color-contrast: #000000;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #f8ff13;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="shyam365"] {
    --secondary-color: #ffe001;
    --secondary-color-contrast: #000000;
    --primary-color: #1e8067;
    --primary-color-shade: #1a715b;
    --primary-color-tint: #358d76;
    --primary-color-contrast: #ffffff;
    --highlight-color: #ffe001;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="driftwood"] {
    --secondary-color: #b4833e;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #b4833e;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="newlotus"] {
    --secondary-color: #b4833e;
    --secondary-color-contrast: #ffffff;
    --primary-color: #0f2327;
    --primary-color-shade: #0d1f22;
    --primary-color-tint: #27393d;
    --primary-color-contrast: #ffffff;
    --highlight-color: #b4833e;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="darkpink"] {
    --secondary-color: #b6277b;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #b6277b;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="cherryred"] {
    --secondary-color: #c10930;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #c10930;
    --tabIcon-filter: invert(0);
  }
  
  body[color-theme="electricblue"] {
    --secondary-color: #0088cc;
    --secondary-color-contrast: #ffffff;
    --primary-color: #000000;
    --primary-color-shade: #141414;
    --primary-color-tint: #222222;
    --primary-color-contrast: #ffffff;
    --highlight-color: #0088cc;
    --tabIcon-filter: invert(0);
  }