:root {
  --head-bg: #488feb;
  --modal-bg: #488feb;
  --primary-color: #488feb;
  --secondary-color: #fff;
  --primary-bg: #000000;
  --secondary-bg: #fff;
  --page-topBar: #141414;
  --footerBG: #fff;
  --color1: #fff;
}
