#loader-section {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#load-inner {
  position: relative;
  text-align: center;
}

#load-inner svg {
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.disable-scroll {
  overflow: hidden;
}

.dropdown-container {
  position: absolute;
  top: 28px;
  left: 0;
  width: 100%;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
  background-color: #c0c0c0;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  padding: 10px;
}
.dropdown-container button {
  padding-left: 10px;
  border: none;
  font-size: 15px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  text-align: start;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
  border-radius: 10px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  /* background-color: rgba(156, 156, 156, 0.305) !important;
  opacity: 100% !important; */
  height: 0px !important;
  width: 0px !important;
}
.swiper-pagination-bullet-active {
  /* background: white !important;
  opacity: 100% !important; */
  height: 0px !important;
  width: 0px !important;
}

.invisibleBankDEtails {
  height: 0px;
  visibility: hidden;
  padding: 0px !important;
  margin: 0px !important;
}

@media only screen and (max-width: 768px) {
  .paymentTypesPadding {
    padding: 5px 0px 70px 0px;
  }
}

@media only screen and (min-width: 769px) {
  .paymentTypesPadding {
    padding: 5px 0px 30px 0px;
  }
}

/* my matches */
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my-match-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  color: var(--grey-500);
  font-size: 12px;
  font-weight: 400;
  padding: 0px;
}
.my-match-title {
  font-size: 12px;
  color: black;
  font-weight: 500;
}
.my-match-card-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid var(--grey-500);
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
}

.my-match-img {
  height: 60px;
  width: 60px;
  object-fit: contain;
}
.my-match-country {
  color: black;
  font-size: 20px;
  font-weight: 800;
}
.my-match-completed {
  color: rgb(98, 98, 98);
  font-size: 17px;
  font-weight: 800;
  margin: 0px;
  margin-bottom: 5px;
}
.my-match-date {
  color: rgb(130, 130, 130);
  margin: 0px;
}
.my-match-team-won-container {
}
.my-match-won {
  color: rgb(0, 146, 0);
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 5px;
}

.my-match-team-contest {
  margin-bottom: 5px;
  color: rgb(87, 87, 87);
}

@media only screen and (max-width: 400px) {
  .my-match-completed {
    font-size: 13px;
  }
  .my-match-country {
    font-size: 13px;
  }
  .my-match-img {
    height: 40px;
    width: 40px;
  }
}
